<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="true"
        android:icon="@drawable/logo_uncrack"
        android:label="@string/app_name"
        android:name=".UnCrackApplication"
        android:roundIcon="@drawable/dark_uncrack_cutout"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnCrack"
        tools:targetApi="31">
        <activity
            android:name=".ui.auth.MasterKeyActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="UnCrack"
            android:theme="@style/Theme.UnCrack"/>

        <activity
            android:name=".presentation.intro.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.UnCrack">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.intro.OnboardingScreen"
            android:exported="true"
            android:theme="@style/Theme.UnCrack">
        </activity>

        <activity android:name=".presentation.auth.login.LoginScreens"
            android:exported="true"
            android:theme="@style/Theme.UnCrack">
        </activity>

        <activity android:name=".presentation.auth.signup.SignupScreen"
            android:exported="true"
            android:theme="@style/Theme.UnCrack">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".services.UnCrackMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>

            </intent-filter>
        </service>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>


    </application>

</manifest>